<div *ngIf="car">
  <h2>{{car.name | uppercase}} - {{car.year}} Details</h2>
  <div><span>id: </span>{{car.id}}</div>
  <form class="cars-form" [formGroup]="carForm">
    <div>
      <label for="car-name">Name: </label>
      <input id="car-name" [(ngModel)]="car.name" placeholder="name" formControlName="carName">
      <label for="car-year">Year: </label>
      <input id="car-year" [(ngModel)]="car.year" placeholder="year" formControlName="carYear">
    </div>
    <button (click)="save()" [disabled]="!carForm.valid">Save</button>
    <button (click)="delete()">Delete</button>
    <button type="button" (click)="goBack()">Go back</button>
  </form>
</div>